body {
	height: 100vh;
	width: 100vw;
}

#container {
	position: fixed;
	width: 70vw;
	height: 50vh;
	top: 25%;
	left: 15%;
	border: solid 1px red;
	border-radius: 0.8rem;
}

input {
	position:fixed;
	top: 15px;
	left: 15px; 
	border-radius: 1rem;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	
}

.pixel {
	width: 4%;
	height: 4%;
	background-color: white;
	float: left;
}


